<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The day today</title>

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>


    <div class="box">
        <% newList.forEach(element => { %>
        <div class="item">
            <input type="checkbox">
            <p>
                <%= element %>
            </p>
        </div>
        <% }); %>
        <form class="item" action="/" method="POST">
            <input type="text" name="item" placeholder="Add a task" aria-autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>

</body>

</html>